

* {
    padding: 0;
    margin: 0;
}

body {
    background-color: antiquewhite;
}

.container {
    display: flex;
    flex-direction: row;
    width: 100vw;
    height: 100vh;
}

.setting {
    flex: 1;
    flex-grow: 0.10;
    max-height: 100vh;
    border: solid 1px black;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.setting div {
    font-size: 32px;
    pointer-events: none;
}

#palette {
    appearance: none;
    width: 70px;
    height: 20px;
    border: none;
    background-color: transparent;
}

button {
    background-color: #EA4C89;
    border-radius: 8px;
    border-style: solid;
    border-color: #EA4C89;
    box-sizing: border-box;
    color: #FFFFFF;
    cursor: pointer;
    display: inline-block;
    font-family: "Haas Grot Text R Web", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;
    font-weight: 700;
    height: 40px;
    width: 100px;
    line-height: 20px;
    list-style: none;
    margin: 0;
    outline: none;
    padding: 10px 16px;
    position: relative;
    text-align: center;
    text-decoration: none;
    transition: color 100ms;
    vertical-align: baseline;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
}

button:hover,
button:focus {
     background-color: #FFFFFF;
     color: #EA4C89;
}

.sketch-container {
    flex: 1;
    max-height: 100vh;
    border: solid 1px black;
    border-left-style: none;

    display: grid;
    justify-content: center;
    align-content: center;
    grid-template-rows: repeat(var(--size), calc(90vh/var(--size)));
    grid-template-columns: repeat(var(--size), calc(90vh/var(--size)));
}

.grid-item {
    background-color: #ffffff85;
    outline: solid black 1px;
}

#size {
    width: 100px;
}